section#social.social
    h1.social__title social

    - var base_blue  = "#00caea"
    - var base_black = "#2b2b2b"
    - var base_white = "#ffffff"

    .social__container
        a(href="//linkedin.com/in/zoltantothcom" target="_blank" class="social__link")
            svg(class="progress" width="120" height="120" viewBox="0 0 120 120")
                circle(class="progress__value" cx="60" cy="60" r="54" fill="none" stroke=base_blue stroke-width="4")

            div(style="position: absolute; left: 11px; top: 11px; height: 98px; width: 98px;")
                svg(role="img" aria-label="LinkedIn" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill=base_white)
                    rect(width="512" height="512" fill=base_black rx="50%")
                    circle(cx="104" cy="104" r="48")
                    path(d="m237 178v259m-133-259v259" stroke=base_white stroke-width="86")
                    path(d="m279 293c0-26 18-53 48-53 31 0 43 24 43 59v138h86v-148c0-80-42-116-99-116-45 0-67 25-78 42")


        a(href="//github.com/zoltantothcom" target="_blank" class="social__link")
            svg(class="progress" width="120" height="120" viewBox="0 0 120 120")
                circle(class="progress__value" cx="60" cy="60" r="54" fill="none" stroke=base_blue stroke-width="4")

            div(style="position: absolute; left: 11px; top: 11px; height: 98px; width: 98px;")
                svg(role="img" aria-label="Github" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg")
                    rect(fill=base_black height="512" width="512" rx="50%")
                    path(d="m119 255c17 30 49 48 102 53-8 6-17 17-18 30-10 6-29 8-44 3-21-7-29-48-61-42-7 1-6 6 0 10 10 6 21 16 26 30 12 31 37 39 77 33v45c0 14-20 18-20 25 0 3 7 3 12 3 10 0 32-9 32-23 0-12 0-52 1-59 0-15 8-20 8-20s1 82-2 92c-4 13-10 11-10 17 0 9 26 2 35-17 7-15 4-95 3-94h7s0 37 1 53c0 17-1 39 9 50 7 7 29 19 29 8 0-6-12-12-12-29v-79c10 0 8 26 8 26l1 48s-2 18 19 25c8 3 24 3 25-1s-20-11-20-25v-49c0-36-5-49-22-60 53-5 86-18 102-53 10-20 12-44 12-62 0-50-24-67-29-76 7-38-1-55-5-60-14-5-48 12-66 24-30-9-94-8-118 2-44-31-67-26-67-26s-15 27-4 66c-15 18-25 31-26 65 0 27 3 44 15 67z" fill=base_white)


        a(href="//stackoverflow.com/users/1499781/zoltan-toth" target="_blank" class="social__link")
            svg(class="progress" width="120" height="120" viewBox="0 0 120 120")
                circle(class="progress__value" cx="60" cy="60" r="54" fill="none" stroke=base_blue stroke-width="4")

            div(style="position: absolute; left: 11px; top: 11px; height: 98px; width: 98px;")
                svg(role="img" aria-label="Stack Overflow" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" stroke=base_white)
                    rect(fill=base_black height="512" width="512" rx="50%")
                    path(d="m113 291v151h235v-151" fill="none" stroke-width="28")
                    path(d="m306 385h-157m159-43-156-14m165-31-152-41m233-42-26-155m-11 170-89-129m60 159-135-80" stroke-width="33")


        a(href="//www.npmjs.com/~zoltantoth" target="_blank" class="social__link")
            svg(class="progress" width="120" height="120" viewBox="0 0 120 120")
                circle(class="progress__value" cx="60" cy="60" r="54" fill="none" stroke=base_blue stroke-width="4")

            div(style="position: absolute; left: 11px; top: 11px; height: 98px; width: 98px;")
                svg(role="img" aria-label="NPM" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill=base_white)
                    rect(height="512" width="512" fill=base_black rx="50%")
                    path(d="m16 163.3h480v160h-240v26.7h-106.7v-26.7h-133.3zm26.7 133.4h53.3v-80h26.7v80h26.7v-106.7h-106.7zm133.3-106.7v133.3h53.3v-26.7h53.3v-106.6zm53.3 26.7h26.7v53.3h-26.7zm80-26.7v106.7h53.3v-80h26.7v80h26.7v-80h26.7v80h26.7v-106.7z")
